On va créer un "elevation image generator"

En gros l'utilisateur peu drag-n-drop une image, on va ensuite appliquer des shadow via des paramètres et des slides.

Ensuite l'utilisteur pourra créer l'image de son côté.